* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --background: #f2f3f5;
  --gray-line: #dcdde0;
  --text: #666666;
  --text-highlight: #b3b9ff;
  --title: #2e384d;
  --red: #e83f5b;
  --green: #4cd62b;
  --orange: #ff6400;
  --orange-dark: #de5700;
  --blue-twitter: #2aa9e0;
}

@media (max-width: 1080px) {
  /*tela menor q 1080px (pc pra baixo)*/
  html {
    font-size: 93.75%; /*isso equivale a 15px, pra reforçar a responsividade*/
  }
}

@media (max-width: 720px) {
  /*tela menor q 720px (tablet pra baixo)*/
  html {
    font-size: 87.5%; /*14px*/
  }
}

body {
  background: var(--background);
  color: var(--text);
}

body,
input,
textarea,
button {
  font: 400 16px "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}


